Importing libraries for scrapping web data

In [ ]:
#importing libraries
import bs4 
from bs4 import BeautifulSoup
import requests

reading the url

In [5]:
# reading url
url = 'https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue' #reading url
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
## #we grab the body of the table and store in the varaible table

table = soup.find('table', {'class': 'wikitable sortable plainrowheads'}).tbody

In [7]:
# reading the columns of the scraped data set
rows = table.find_all('tr')

columns = [v.text.replace('\n', '') for v in rows[0].find_all('th')] # cleaning foreign elements

print(columns)

['No.', 'Company', 'Industry', 'Revenue (by US$ billion)', 'Headquarters']

In [8]:
# Getting the body of the tables as values

for i in range(1, len(rows)):
  tds = rows[i].find_all('td')
  if len(tds) == 4:
    values = [tds[0].text, tds[1].text,'',tds[2].text, tds[3].text.replace('\n', ''.replace('\xa0', ''))]
  else:
    values = [td.text.replace('\n', '').replace('\xa0', '') for td in tds]
    print(values)

['1', 'Apple', 'Electronics, telecommunications equipment', '274.515', 'United States']
['2', 'Toyota Group', 'Engineering, various', '256.721', 'Japan']
['3', 'Volkswagen Group', 'Automotive', '253.965', 'Germany']
['4', 'Samsung Electronics', 'Electronics, various', '200.734', 'South Korea']
['5', 'Foxconn', 'Electronics', '181.945', 'Taiwan']
['6', 'Mercedes-Benz Group', 'Automotive', '175.827', 'Germany']
['7', 'The Miller Foundation', 'Pharmaceuticals', '152.922', 'United States']
['8', 'China Railway and Engineering Group', 'Engineering', '141.383', 'China']
['9', 'Huawei', 'Telecommunications equipment, Electronics', '129.183', 'China']
['10', 'Ford', 'Automotive', '127.144', 'United States']
['11', 'Honda', 'Automotive', '124.240', 'Japan']
['12', 'General Motors', 'Automotive', '122.485', 'United States']
['13', 'Mitsubishi', 'Engineering, various', '121.542', 'Japan']
['14', 'BMW', 'Automotive', '112.794', 'Germany']
['15', 'SAIC Motor', 'Automotive', '107.555', 'China']
['16', 'China Minmetals', 'Metals', '102.014', 'China']
['17', 'FAW Group', 'Automotive', '101.075', 'China']
['18', 'Hengli Group', 'Textiles', '100.773', 'China']
['19', 'China Baowu Steel Group', 'Steel', '97.643', 'China']
['20', 'Dell', 'Electronics', '94.224', 'United States']
['21', 'Nestle', 'Food & Beverages', '89.852', 'Switzerland/United States']
['22', 'Hyundai Motor Company', 'Automotive', '88.155', 'South Korea']
['23', 'Dongfeng Motor Group', 'Automotive', '86.85', 'China']
['24', 'Sony', 'Electronics', '84.893', 'Japan']
['25', 'Johnson & Johnson', 'Personal care products', '82.344', 'United States']
['26', 'Hitachi', 'Engineering, various', '82.334', 'Japan']
['27', 'Bosch', 'Engineering, various', '81.463', 'Germany']
['28', 'General Electric', 'Engineering, various', '79.619', 'United States']
['29', 'Intel', 'Electronics', '77.867', 'United States']
['30', 'Sinopharm', 'Pharmaceuticals', '77.278', 'China']
['31', 'Nissan', 'Automotive', '74.169', 'Japan']
['32', 'Enel', 'Renewable energy', '74.047', 'Italy']
['33', 'IBM', 'Engineering, various', '73.620', 'United States']
['34', 'Beijing Automotive Group', 'Automotive', '72.147', 'China']
['35', 'Procter & Gamble', 'Consumer goods', '70.950', 'United States']
['36', 'PepsiCo', 'Food & Beverages', '70.387', 'United States']
['37', 'BASF', 'Chemicals', '69.464', 'Germany']
['38', 'Aviation Industry Corporation of China', 'Aerospace & Defense', '66.964', 'China']
['39', 'Lockheed Martin', 'Aerospace & Defense', '65.398', 'United States']
['40', 'Hoffmann-La Roche', 'Pharmaceuticals', '64.285', 'Switzerland']
['41', 'Siemens', 'Engineering, various', '63.935', 'Germany']
['42', 'Sinochem', 'Chemicals', '63.544', 'China']
['43', 'Panasonic', 'Engineering, various', '63.191', 'Japan']
['44', 'Lenovo', 'Electronics', '60.742', 'China/United States']
['45', 'ChemChina', 'Chemicals', '60.491', 'China']
['46', 'Boeing', 'Aerospace & Defense', '58.158', 'United States']
['47', 'Unilever', 'Consumer goods', '57.797', 'United Kingdom/United States']
['48', 'Airbus', 'Aerospace & Defense', '56.872', 'France']
['49', 'Hewlett-Packard', 'Electronics', '56.639', 'United States']
['50', 'Raytheon Technologies', 'Engineering, various', '56.587', 'United States']

In [10]:
# converting columns to a dataframe
import pandas as pd
df = pd.DataFrame(columns=columns)

In [11]:
# converting table body(rows) to dataFrame
df2 = pd.DataFrame(data=values)

In [12]:
# joining scraped df and df2

data = df.append(df2, ignore_index=True)

In [22]:
#installing pythnon-mysql link package
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp310-cp310-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 1.9 MB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp310-cp310-win_amd64.whl (903 kB)
     -------------------------------------- 903.8/903.8 kB 1.6 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.30 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [23]:
# importing Mysql connector and creating database
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='????????')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE revenue")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [30]:
data.head()

,No.,Company,Industry,Revenue (by US$ billion),Headquarters
0,1,Apple,"Electronics, telecommunications equipment",274.52,United States
1,2,Toyota Group,"Engineering, various",256.72,Japan
2,3,Volkswagen Group,Automotive,253.97,Germany
3,4,Samsung Electronics,"Electronics, various",200.73,South Korea
4,5,Foxconn,Electronics,181.95,Taiwan

In [41]:
#creating table on thye created database

import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='revenue', user='root', password='?????????')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
        print('Creating table....')
 # in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE revenue_data3(No varchar(255),Company varchar(255),Industry varchar(255),Revenue int,Headquarters varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in data.iterrows():
            #here %S means string values 
            sql = "INSERT INTO revenue.revenue_data VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('revenue',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted